<.header>
  Novo fornecedor
  <:subtitle>Adicione os fornecedores envolvidos nas transações</:subtitle>
</.header>

<.supplier_form changeset={@changeset} action={~p"/suppliers"} />

<.back navigate={~p"/suppliers"}>Voltar</.back>
