<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, alguma coisa não saiu como esperado. Confira abaixo
  </.error>
  <.input field={f[:name]} type="text" label="Nome" />
  <.input field={f[:icon]} type="text" label="Ícone" />
  <:actions>
    <.button>Salvar</.button>
  </:actions>
</.simple_form>
