<.header>
  Adicionar categoria
  <:subtitle>Adicione categorias para organizar suas despesas e entradas.</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/categories"} />

<.back navigate={~p"/categories"}>Voltar</.back>
